/* // fuente externa */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
/* ---datos generales -- */
:root{
    --uno: #0b182d;
    --dos: #4d3a68;
    --tres: #0092ff;
    --cuatro: #00e9ff;
    --cinco: #e0ffff;
    --textoNormal: 'Manrope', sans-serif;
    --textoTitulo: 'Dosis', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* PARA EL BODY */
body{
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: ; */
    grid-template-areas: "nv nv"
                         "sp sp"
                         "ft ft";
    font-family: var(--textoNormal)
}
/* Para la barra de navegación */
nav{
    grid-area: nv;
    background: var(--uno);
    color: var(--cinco);
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "in rd";
    padding: 15px;
    padding-bottom: 0 !important;
    position: fixed;
    width: 100%;
}
.principal{
    list-style: none;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin-right: 15px;
    font-family: 'Manrope', sans-serif;
}
#nosotros:hover, #deptos:hover, #promos:hover, #sucursales:hover,
#cata:hover{
    background-color: var(--dos);
    border-radius: 10px;
    border-bottom: 2px var(--tres) solid;
    transition: 0.2s ease-in all;
}
.secundario:hover{
    background-color: var(--dos);
    border-radius: 5px;
    transition: 0.2s ease-in all;
}
.tercero:hover{
    background-color: var(--dos);
    border-radius: 5px;
    transition: 0.2s ease-in all;
}
a{
    text-decoration: none;
    padding-top: 0px !important;
    color: white;
}

#titulo-navbar{
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    font-family: 'Dosis';
    font-size: 30px;
}
#parte1-nav{
    grid-area: in;
    text-align: left;
    padding-bottom: 9px;
}
#parte2-nav{
    grid-area: rd;
    text-align: right;
    padding: 10px;
    padding-top: 0 !important;
}
.submenu-1{
    position: absolute;
    list-style: none;
    background-color: var(--uno);
    width: 12%;
    text-align: left;
    margin-top: 19px;
    margin-left: -10px;
    display: none;
    border-radius: 0 0 10px 10px;
}
/* submenu de la papeleria */
.submenu-2{
    position: absolute;
    transform: translate(145px, -49px);
    background-color: var(--uno);
    list-style: none;
    width: 140px;
    border-radius: 0 0 10px 10px;
    display: none;
}
.submenu-1 li a{
    display: block;
    padding: 10px;
    padding-top: 5px !important;
    color: white;
    margin-top: 10px;
    margin-right: 0px !important;
    margin-bottom: 5px;
}
/* iconos de las listas */
.f1, .f2, .f3{
    display: none;
}

/* BOTONES DEL NAVEGADOR  */
.registro, .inicio{
    font-size: 16px;
    padding: 5px;
    width: 130px;
    background-color: var(--uno);
    color: white;
    border: none;
    cursor: pointer;
    height: 39px;
    border: white 1px solid;
}
.registro:hover, .inicio:hover{
    background-color: var(--dos);
    border-radius: 15px;
    border: none;
    border-bottom: 2px var(--tres) solid;
    transition: 0.5s ease-out all;
}

#enlace-carro{
    margin-left: 35px;
    margin-right: 10px;
    vertical-align: sub;
}
#carro{
    font-size: 28px;
}
#carro:hover{color: var(--cinco); font-weight: bold;}

.submenu-3{
    position: absolute;
    list-style: none;
    background-color: var(--uno);
    width: 150px;
    text-align: left;
    margin-top: 19px;
    margin-left: -10px;
    display: none;
    border-radius: 10px;
    transform: translate(166px, -70px);
}
.submenu-4{
    position: absolute;
    list-style: none;
    background-color: var(--uno);
    width: 150px;
    text-align: left;
    margin-top: 19px;
    margin-left: -10px;
    display: none;
    border-radius: 10px;
    transform: translate(166px, -68px);
}
 /* ------------------------ BARRA LATERAL----------------------- */
 #mostrador-catalogos{
    grid-area: sp;
    display: grid;
    grid-template-columns: 20% 80%;
    /* grid-template-rows: ; */
    grid-template-areas: "bl do";
    font-family: var(--textoNormal);
    margin-top: 2.5%;
 }
 
 .barra-lateral{
     grid-area: bl;
     margin-top: 13%;
     padding: 10px;
     background-color: #0e61a0cb;
     width: 100%;
     color: white;
 }
 .barra-lateral img{
     margin-top: 25px;
     margin-bottom: 25px;
     width: 200px;
 }
 .lista-departamentos-todos-los-catalogos ul li a{
     color: rgb(255, 255, 255) !important;
     font-family: var(--textoNormal);
     font-size: 18px;
 }
 .lista-departamentos-todos-los-catalogos ul li{
     padding: 15px;
 }
 .lista-departamentos-todos-los-catalogos ul li:hover{
    background-color: var(--uno);
    border-radius: 0px 15px 15px 0;
    font-weight: bold;
    text-decoration: underline;
    border-bottom: 3px solid rgb(255, 255, 255);
    transition: 0.3s ease-in all;
}
.muestra-documentos{
    grid-area: do;
    margin-top: 7%;
    text-align: center;
}
#reposteria-cata{
    display: none;
}

/* ---------- FOOTER --------- */
.separador-footer{
    width: 100%;
    height: 20px;
}
footer{
    grid-area: ft;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    /* grid-template-rows: ; */
    grid-template-areas: "sc1 sc2 sc3";
    background-color: var(--dos);
    border-radius: 0px 15px 0 0;
    border-top: 5px var(--uno) dashed;
}
#section-1{
    grid-area: sc1;
    text-align: center;
    color: white;
    padding: 5%;
    border-right: 5px var(--uno) dashed;
}
#section-2{
    grid-area: sc2;
    color: white;
    text-align: center;
    padding: 10px;
    border-right: 5px var(--uno) dashed;
}
#section-3{
    grid-area: sc3;
    padding: 10%;
    font-family: var(--textoTitulo);
    font-size: 40px;
}
#section-3 a{
    font-family: var(--textoTitulo);
    text-decoration: underline;
}
#section-2 h2{
    font-family: var(--textoTitulo);
}
.info-footer-personal{
    text-align: left;
    font-family: var(--textoNormal);
}